@import "tailwindcss";

:root {
  --namu-green: #00A495;
  --namu-bg: #F5F5F5;
  --namu-border: #CCCCCC;
}

body {
  background-color: var(--namu-bg);
  color: #373a3c;
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
}